.env
__pycache__/
*.pyc
.venv/
.dbt-venv/
.idea/
.vscode/
.DS_Store

# dbt local artifacts
target/
logs/

# Flink build artifacts
pipelines/bronze/build/
pipelines/bronze/flink-table-api-java-uber-2.1.0.jar